@import "normalize.css";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  min-width: 320px;
  margin-bottom: 330px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
@media all and (max-width: 1149px) {
  body {
    margin-bottom: 0;
  }
}
@media all and (max-width: 767px) {
  body {
    margin-bottom: 65px;
  }
}
body > header {
  position: relative;
  height: 210px;
  background: url('../img/grass.png') 0 76% repeat-x;
  overflow: hidden;
  transition: padding, height 0.3s ease-in-out;
}
@media all and (max-width: 767px) {
  body > header {
    height: 0;
    padding-top: 27.34375%;
    background: none;
  }
}
@media all and (max-width: 520px) {
  body > header {
    padding-top: 150px;
  }
}
body > header:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #8acbcd;
  background: linear-gradient(to bottom, #8acbcd 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8acbcd', endColorstr='#fff', GradientType=0);
  z-index: -1;
}
body > header .logo {
  position: absolute;
  top: 35px;
  left: 23px;
  height: 83px;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 767px) {
  body > header .logo {
    width: 31.4159292%;
  }
}
@media all and (max-width: 460px) {
  body > header .logo {
    top: 50px;
  }
}
body > header .logo img {
  transition: inherit;
}
@media all and (max-width: 767px) {
  body > header .logo img {
    width: 100%;
  }
}
body > header .information {
  position: absolute;
  display: table;
  height: 20px;
  line-height: 20px;
  top: 0;
  width: 100%;
  background: #86c5c5;
  border-bottom: 1px solid #75abac;
}
body > header .information p {
  display: table-cell;
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: #1e592f;
  text-align: center;
  border-right: 1px solid #75abac;
}
@media all and (max-width: 460px) {
  body > header .information p {
    display: block;
  }
}
@media all and (max-width: 767px) {
  body > header .information p:nth-child(2),
  body > header .information p:nth-child(3) {
    display: none;
  }
}
body > header .information p:last-of-type {
  display: none;
}
@media all and (max-width: 767px) {
  body > header .information p:last-of-type {
    display: block;
  }
}
body > header .search {
  position: relative;
  margin: 60px 940px 0 340px;
}
@media all and (max-width: 1499px) {
  body > header .search {
    margin-right: 680px;
  }
}
@media all and (max-width: 1149px) {
  body > header .search {
    margin: 85px 335px 0 300px;
  }
}
@media all and (max-width: 767px) {
  body > header .search {
    opacity: 0;
  }
}
body > header .search input {
  border: none;
}
body > header .search input[type=text] {
  width: 100%;
  height: 20px;
  padding: 10px 10px 10px 45px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #F4F2F2 url('../img/icon-search.png') 11px 8px no-repeat;
}
body > header .search input[type=text]::-webkit-input-placeholder {
  font-style: italic;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]::-moz-placeholder {
  font-style: italic;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]:-moz-placeholder {
  font-style: italic;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]:-ms-input-placeholder {
  font-style: italic;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]:focus::-webkit-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]:focus::-moz-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]:focus:-moz-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=text]:focus:-ms-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body > header .search input[type=submit] {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 0;
  right: -155px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #71ac45;
  background: linear-gradient(to bottom, #71ac45 0%, #669748 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71ac45', endColorstr='#669748', GradientType=0);
  border: 1px solid #6ba047;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
}
body > header .contacts {
  top: 45px;
  left: 700px;
  float: right;
  height: 80px;
  margin: 45px 40px 0 0;
  padding-left: 45px;
  background: url('../img/icon-phone.png') left 2px no-repeat;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 1149px) {
  body > header .contacts {
    position: absolute;
    margin: 0;
    top: 32px;
    left: 300px;
  }
}
@media all and (max-width: 767px) {
  body > header .contacts {
    left: 44.2477876%;
  }
}
@media all and (max-width: 460px) {
  body > header .contacts {
    top: 52px;
  }
}
body > header .contacts p {
  margin: 0;
  font-size: 20px;
  color: #404040;
  transition: all 0.1s ease-in-out;
}
@media all and (max-width: 1149px) {
  body > header .contacts p {
    display: inline-block;
    padding-right: 15px;
  }
}
@media all and (max-width: 767px) {
  body > header .contacts p {
    display: block;
    font-size: 26px;
  }
}
@media all and (max-width: 460px) {
  body > header .contacts p {
    font-size: 16px;
  }
}
@media all and (max-width: 1149px) {
  body > header .contacts p:nth-child(1),
  body > header .contacts p:nth-child(2) {
    letter-spacing: -0.6px;
  }
}
body > header .contacts p:last-of-type {
  margin-top: 5px;
  font-size: 14px;
}
@media all and (max-width: 1149px) {
  body > header .contacts p:last-of-type {
    display: block;
  }
}
@media all and (max-width: 767px) {
  body > header .contacts p:last-of-type {
    opacity: 0;
  }
}
body > header .cabinet-enter-button {
  background: url('../img/icon-cabinet.png') 5px center no-repeat;
  float: right;
  width: 135px;
  height: 35px;
  margin: 50px 10px 0 0;
  padding: 5px 5px 5px 50px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6d6d6d;
  border: 5px outset;
  border-color: #cceeef #add5d3;
  overflow: hidden;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@media all and (max-width: 1499px) {
  body > header .cabinet-enter-button {
    width: 0;
    font-size: 0;
    padding-left: 45px;
  }
}
@media all and (max-width: 767px) {
  body > header .cabinet-enter-button {
    opacity: 0;
  }
}
body > header .cabinet-enter-button:hover {
  background-color: #bbe4ed;
}
body > header .cart-open-button {
  background: url('../img/icon-cart.png') 5px center no-repeat;
  float: right;
  width: 135px;
  height: 35px;
  margin: 50px 10px 0 0;
  padding: 5px 5px 5px 50px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6d6d6d;
  border: 5px outset;
  border-color: #cceeef #add5d3;
  overflow: hidden;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@media all and (max-width: 1499px) {
  body > header .cart-open-button {
    width: 0;
    font-size: 0;
    padding-left: 45px;
  }
}
@media all and (max-width: 767px) {
  body > header .cart-open-button {
    opacity: 0;
  }
}
body > header .cart-open-button:hover {
  background-color: #bbe4ed;
}
body > header .cart-open-button span {
  display: block;
  font-size: 13px;
  text-transform: none;
}
@media all and (max-width: 1499px) {
  body > header .cart-open-button span {
    font-size: 0;
  }
}
body > header nav {
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
}
@media all and (max-width: 767px) {
  body > header nav {
    position: fixed;
    width: 230px;
    height: auto;
    left: -230px;
    background: transparent;
    z-index: 110;
    transition: all 0.3s ease-in-out;
  }
}
@media all and (max-width: 767px) {
  body > header nav.active {
    left: 0;
  }
}
@media all and (min-width: 768px) {
  body > header nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 110;
  }
}
body > header nav > a {
  display: block;
  float: left;
  padding: 0 15px;
  line-height: 48px;
  font-size: .9375em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-right: 1px solid #b7de95;
}
@media all and (max-width: 767px) {
  body > header nav > a {
    float: none;
    position: relative;
    line-height: 34px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 5px solid #78b229;
    font-size: .8125em;
    background: #fff;
    color: #71a560;
  }
}
body > header nav > a:first-of-type {
  text-indent: 40px;
  width: 20px;
  overflow: hidden;
  background: url('../img/icon-home.png') center 12px no-repeat;
}
@media all and (max-width: 767px) {
  body > header nav > a:first-of-type {
    width: auto;
    text-indent: 0;
    background-color: #fff;
  }
  body > header nav > a:first-of-type:hover {
    background-color: #6d9d41;
    background-position: 95% center;
    color: #fff;
  }
}
@media all and (max-width: 767px) {
  body > header nav > a:last-of-type {
    border-bottom: 5px solid #78b229;
  }
}
body > header nav > a:hover {
  background-color: #6d9d41;
}
@media all and (max-width: 767px) {
  body > header nav > a:hover {
    color: #fff;
  }
  body > header nav > a:hover:after {
    border-left-color: #fff;
  }
}
body > header nav > a:after {
  position: absolute;
  content: '';
  left: 9px;
  top: 11px;
  border: 5px solid transparent;
  border-left-color: #71a560;
}
body > header nav .wrapper {
  display: none;
  position: fixed;
  top: 220px;
  right: 10px;
  width: 250px;
  border: 1px solid #999;
  border-radius: 4px;
  background: #fff;
  z-index: 120;
}
body > header nav .wrapper a {
  display: block;
  font-size: .9375em;
  text-transform: uppercase;
  text-decoration: none;
  border-right: 1px solid #b7de95;
  padding: 10px;
  border: 0;
  line-height: 18px;
  color: #336666;
  border-bottom: 1px solid #ccc;
}
body > header nav .wrapper a:hover {
  color: #fff;
  background-color: #6d9d41;
}
body > header nav .wrapper a:first-of-type:before {
  content: '';
  position: absolute;
  top: -22px;
  right: 20px;
  border: 11px solid transparent;
  border-bottom-color: #000;
}
body > header nav .wrapper a:first-of-type:after {
  content: '';
  position: absolute;
  top: -22px;
  right: 20px;
  border: 11px solid transparent;
  border-bottom-color: #fff;
}
body > header nav .wrapper a:first-of-type:hover:after {
  border-bottom-color: #6d9d41;
}
body > header nav .additional-menu-button {
  height: 100%;
  width: 15px;
}
body > header nav .additional-menu-button:before {
  content: "\f0c9";
  font-family: fontawesome;
  font-size: 1em;
}
body > header .mobile-bar {
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 767px) {
  body > header .mobile-bar {
    opacity: 1;
  }
}
@media all and (max-width: 767px) {
  body > header .mobile-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 110;
  }
}
body > header .mobile-bar a {
  display: block;
  position: relative;
  float: left;
  margin: 5px 0 0 10px;
  width: 44px;
  height: 36px;
  border: 1px solid #aecd9e;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
body > header .mobile-bar a:before {
  position: absolute;
  top: 4px;
  left: 10px;
  content: "\f0c9";
  font-family: fontawesome;
  line-height: 1;
  font-size: 1.7em;
}
body > header .mobile-bar a:hover {
  background-color: #6d9d41;
}
body > header .mobile-bar form {
  margin: 0 25px 0 65px;
}
body > header .mobile-bar input {
  width: 100%;
  margin-top: 7px;
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-style: italic;
}
.mobile-panel {
  position: fixed;
  bottom: 0;
  display: table;
  width: 100%;
  border-top: 1px solid #59824b;
  background: #72a55f;
  background: linear-gradient(to bottom, #72a55f 0%, #7daf35 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72a55f', endColorstr='#7daf35', GradientType=0);
  text-transform: lowercase;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 767px) {
  .mobile-panel {
    opacity: 1;
    z-index: 1;
  }
}
.mobile-panel a {
  display: table-cell;
  height: 20px;
  width: 33%;
  padding-top: 8%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #535353;
}
@media all and (max-width: 460px) {
  .mobile-panel a {
    padding-top: 38.4px;
  }
}
.mobile-panel a:first-of-type ~ a {
  border-left: 1px solid #92c264;
}
.mobile-panel a:first-of-type {
  background: url('../img/mobile-icon-call.png') no-repeat center 10px;
  background-size: 23%;
}
@media all and (max-width: 460px) {
  .mobile-panel a:first-of-type {
    background-size: 35px;
  }
}
.mobile-panel a:nth-child(2) {
  background: url('../img/mobile-icon-enter.png') no-repeat center 10px;
  background-size: 24%;
}
@media all and (max-width: 460px) {
  .mobile-panel a:nth-child(2) {
    background-size: 35px;
  }
}
.mobile-panel a:last-of-type {
  background: url('../img/mobile-icon-cart.png') no-repeat center 10px;
  background-size: 25%;
}
@media all and (max-width: 460px) {
  .mobile-panel a:last-of-type {
    background-size: 35px;
  }
}
.sidebar {
  float: left;
  width: 290px;
  padding-left: 15px;
}
@media all and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
.sidebar h2 {
  height: 26px;
  margin: 15px 0 10px;
  padding-bottom: 5px;
  font-size: 1.3em;
  font-weight: normal;
  color: #5fa126;
  margin-bottom: 10px;
  border-bottom: 1px solid #bfbfbf;
}
.sidebar .classification a {
  display: block;
  padding: 7px 0 7px 33px;
  color: #262a3b;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  border-bottom: 1px solid #ebebeb;
  transition: all 0.1s ease-in-out;
}
.sidebar .classification a:hover {
  padding-left: 38px;
  color: #000;
}
.sidebar .classification a.by-sickness {
  background: url('../img/icon-by-sickness.png') no-repeat center left;
}
.sidebar .classification a.by-organs {
  background: url('../img/icon-by-organs.png') no-repeat center left;
}
.sidebar .classification a.by-action {
  background: url('../img/icon-by-action.png') no-repeat center left;
}
.sidebar .classification a.by-components {
  background: url('../img/icon-by-components.png') no-repeat center left;
}
.sidebar .production a {
  display: block;
  padding: 7px 0 7px 10px;
  color: #262a3b;
  text-decoration: none;
  font-size: .9em;
  border-bottom: 1px solid #ebebeb;
  transition: all 0.1s ease-in-out;
}
.sidebar .production a:hover {
  padding-left: 15px;
  color: #000;
}
.content {
  margin-left: 320px;
  min-height: 1000px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 0.95em;
  color: #444;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 767px) {
  .content {
    margin-left: 0;
  }
}
.content h1 {
  height: 26px;
  margin: 15px 10px 15px 0;
  padding-bottom: 5px;
  font-size: 1.3em;
  color: #5fa126;
  font-weight: normal;
  border-bottom: 1px solid #bfbfbf;
}
@media all and (max-width: 460px) {
  .content.frontpage h1 {
    display: none;
  }
}
.content .slider {
  margin-bottom: 20px;
}
@media all and (max-width: 460px) {
  .content .slider {
    display: none;
  }
}
.content .slider img {
  border: 1px solid #bfbfbf;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 1290px) {
  .content .slider img {
    width: 95%;
  }
}
.content .classification {
  display: none;
  margin-bottom: 20px;
}
.content .classification h2 {
  color: #1e592f;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}
.content .classification a {
  display: block;
  padding: 5px;
  color: #5fa126;
  text-decoration: none;
  border: 1px solid #5fa126;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: all 0.1s ease-in-out;
}
.content .classification a:hover {
  background: #5fa126;
  color: #fff;
}
@media all and (max-width: 460px) {
  .content .classification {
    display: block;
  }
}
.content .brands a {
  float: left;
  margin: 10px 20px 10px 0;
  width: 180px;
  height: 120px;
  border: 1px solid #fff;
  position: relative;
}
@media all and (max-width: 767px) {
  .content .brands a {
    float: none;
  }
}
.content .brands a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (max-width: 767px) {
  .content .brands a img {
    width: 28%;
  }
}
@media all and (max-width: 460px) {
  .content .brands a img {
    width: 40%;
  }
}
.content .brands a:hover {
  opacity: 0.8;
  border-color: #4ba159;
  border-radius: 5px;
  box-shadow: 0 7px 15px rgba(59, 55, 43, 0.25);
  overflow: hidden;
}
@media all and (max-width: 767px) {
  .content .brands a:hover {
    border-color: #fff;
    box-shadow: none;
  }
}
.content .catalogue-view {
  margin-bottom: 15px;
}
.content .catalogue-view .sorting label {
  display: inline-block;
  margin: 0 10px 5px 0;
}
@media all and (max-width: 460px) {
  .content .catalogue-view .sorting label {
    display: none;
  }
}
.content .catalogue-view .sorting .jq-selectbox__select {
  min-width: 160px;
}
.content .catalogue-view .view {
  float: right;
  width: 120px;
  line-height: 1.9em;
}
.content .catalogue-view .view button {
  width: 34px;
  height: 30px;
  border: none;
  margin-left: 5px;
  background: url('../img/icon-grid-list.png') no-repeat;
  float: right;
}
.content .catalogue-view .view button.grid-mode {
  margin-left: 10px;
  background-position: 4px 3px;
}
.content .catalogue-view .view button.list-mode {
  background-position: -32px 3px;
}
.content .catalogue-view .view button.selected {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
}
.content .products-list {
  border-top: 1px solid #bfbfbf;
  padding-top: 15px;
  overflow: hidden;
}
.content .products-list article {
  position: relative;
  float: left;
  width: 350px;
  min-height: 215px;
  padding: 0 10px 65px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.1s ease-in-out;
}
@media all and (max-width: 385px) {
  .content .products-list article {
    width: auto;
  }
}
.content .products-list article h3 {
  margin-left: 140px;
  font-weight: normal;
  font-size: 1.1em;
  max-height: 60px;
  overflow: hidden;
}
.content .products-list article h3 a {
  color: #444;
  text-decoration: none;
}
.content .products-list article h3 a:hover {
  color: #777;
}
.content .products-list article p {
  margin-left: 140px;
  max-height: 105px;
  overflow: hidden;
}
.content .products-list article figure {
  position: absolute;
  top: 0;
  left: 10px;
  width: 130px;
  height: 170px;
  margin: 15px 0 0 0;
  overflow: hidden;
}
.content .products-list article figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content .products-list article .price {
  position: absolute;
  bottom: 35px;
  left: 10px;
  width: 130px;
  text-align: center;
  color: #669966;
  font-size: 1.3em;
  transition: all 0.1s ease-in-out;
}
.content .products-list article .rating {
  position: absolute;
  bottom: 8px;
  left: 10px;
  transition: all 0.1s ease-in-out;
}
.content .products-list article .buy {
  position: absolute;
  left: 150px;
  bottom: 15px;
  width: 160px;
  height: 35px;
  border: 1px solid #71a560;
  border-radius: 3px;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  font-size: 1.2em;
  color: #fff;
  transition: left 0.1s ease-in-out, bottom 0.1s ease-in-out, width 0.1s ease-in-out, -webkit-transform 0.2s ease;
  transition: left 0.1s ease-in-out, bottom 0.1s ease-in-out, width 0.1s ease-in-out, transform 0.2s ease;
  transition: left 0.1s ease-in-out, bottom 0.1s ease-in-out, width 0.1s ease-in-out, transform 0.2s ease, -webkit-transform 0.2s ease;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media all and (max-width: 385px) {
  .content .products-list article .buy {
    padding: 1px 20px;
    width: auto;
  }
}
.content .products-list article .buy:hover {
  background: #6d9d41;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.content .products-list article:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: #fff;
  z-index: 1;
}
.content .products-list.list-view article {
  float: none;
  width: auto;
  min-height: 120px;
  padding-bottom: 80px;
}
.content .products-list.list-view article h3 {
  margin-top: 0;
  padding-top: 17px;
}
.content .products-list.list-view article .price {
  left: 150px;
  bottom: 18px;
  font-size: 1.5em;
  text-align: left;
}
.content .products-list.list-view article .rating {
  left: 145px;
  bottom: 48px;
}
.content .products-list.list-view article .buy {
  left: 295px;
  bottom: 20px;
}
@media all and (min-width: 768px) and (max-width: 800px) {
  .content .products-list.list-view article .buy {
    padding: 1px 15px;
    width: auto;
  }
}
@media all and (max-width: 485px) {
  .content .products-list.list-view article .buy {
    width: 130px;
    left: 10px;
    border-radius: 0;
    opacity: 0.7;
  }
}
.content .products-list.list-view article:last-of-type {
  border-bottom: none;
}
.content .pagination {
  text-align: center;
}
.content .pagination ul {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 0;
  border-radius: 4px;
  display: inline-block;
}
.content .pagination ul > li {
  display: inline;
  padding: 0;
}
.content .pagination ul > li a {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #61a560;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}
.content .pagination ul > li a:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #23527c;
  z-index: 2;
}
.content .pagination ul > li a strong {
  font-weight: normal;
}
.content .pagination ul > li span {
  border: 1px solid #ddd;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  color: #61a560;
}
.content .pagination ul > li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-last-child(1)):not(:nth-last-child(2)) span {
  border-color: #71a560;
  background-color: #71a560;
  color: #fff;
  cursor: default;
  z-index: 3;
}
.content .breadcrumbs {
  margin-bottom: 20px;
}
@media all and (max-width: 460px) {
  .content .breadcrumbs {
    font-size: 1em;
  }
}
.content .breadcrumbs a {
  position: relative;
  display: inline-block;
  margin-right: 14px;
  text-decoration: none;
  color: #444;
}
.content .breadcrumbs a:after {
  position: absolute;
  content: '';
  top: 1px;
  right: -10px;
  width: 1px;
  height: 15px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-right: 1px solid #888;
}
.content .breadcrumbs a:hover {
  text-decoration: underline;
}
@media all and (max-width: 460px) {
  .content .breadcrumbs a:first-of-type {
    display: none;
  }
}
.content .breadcrumbs a:last-of-type:after {
  content: none;
}
.content .product {
  overflow: hidden;
}
.content .product .product-image {
  float: left;
  margin: 0;
  width: 375px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}
@media all and (max-width: 1525px) {
  .content .product .product-image {
    width: 25%;
  }
}
@media all and (max-width: 460px) {
  .content .product .product-image {
    width: 40%;
  }
}
.content .product .product-image img {
  max-width: 100%;
}
.content .product .product-card {
  position: relative;
  float: left;
  width: 430px;
  min-width: 300px;
  margin-bottom: 20px;
}
@media all and (max-width: 1525px) {
  .content .product .product-card {
    width: 30%;
  }
}
@media all and (max-width: 1240px) {
  .content .product .product-card {
    width: 70%;
  }
}
@media all and (max-width: 460px) {
  .content .product .product-card {
    padding-bottom: 70px;
    min-height: 220px;
    min-width: 0;
    width: 60%;
  }
}
.content .product .product-card header {
  font-size: 2.5em;
  color: #666;
}
@media all and (max-width: 460px) {
  .content .product .product-card header {
    font-size: 1.4em;
    margin-bottom: 5px;
  }
}
.content .product .product-card .rating {
  margin-bottom: 10px;
}
.content .product .product-card .rating span {
  font-size: 12px;
  color: #444;
}
.content .product .product-card .buy-row {
  width: 100%;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row {
    position: absolute;
    bottom: 0;
    left: -58%;
    width: 150%;
  }
}
.content .product .product-card .buy-row .price {
  font-size: 2em;
  color: #669933;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row .price {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
}
.content .product .product-card .buy-row form {
  float: right;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row form {
    float: left;
    width: 100%;
  }
}
.content .product .product-card .buy-row .jq-number {
  float: left;
  padding-right: 21px;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row .jq-number {
    padding: 0 33px;
  }
}
.content .product .product-card .buy-row .jq-number__field {
  width: 40px;
  border-radius: 0;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row .jq-number__field {
    width: 37px;
  }
  .content .product .product-card .buy-row .jq-number__field input {
    text-align: center;
  }
}
.content .product .product-card .buy-row .jq-number__spin {
  border-radius: 0;
  width: 20px;
  height: 15px;
}
.content .product .product-card .buy-row .jq-number__spin:after {
  left: 5px;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row .jq-number__spin {
    left: 0;
    height: 32px;
    width: 32px;
  }
  .content .product .product-card .buy-row .jq-number__spin.plus {
    right: 0;
    left: auto;
  }
  .content .product .product-card .buy-row .jq-number__spin.plus:after {
    top: 10px;
    left: 15px;
    width: 2px;
    height: 12px;
    border: none;
    background: #666;
  }
  .content .product .product-card .buy-row .jq-number__spin.minus:after {
    display: none;
  }
  .content .product .product-card .buy-row .jq-number__spin:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 10px;
    width: 12px;
    height: 2px;
    border: none;
    background: #666;
  }
}
.content .product .product-card .buy-row button {
  float: left;
  height: 34px;
  padding: 0 15px;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  border: none;
  color: #fff;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-row button {
    float: right;
    font-size: 1.4em;
    border-radius: 5px;
  }
}
.content .product .product-card .buy-row button:hover {
  background: #6d9d41;
}
.content .product .product-card .buy-in-one-click {
  float: right;
  overflow: hidden;
}
@media all and (max-width: 460px) {
  .content .product .product-card .buy-in-one-click {
    display: none;
  }
}
.content .product .product-card .buy-in-one-click .tel {
  float: left;
  display: block;
  border-radius: 4px 0 0 4px;
  border: 1px solid #71a560;
  border-right: none;
  height: 40px;
  font-size: 1.2em;
  padding: 0 5px;
  width: 135px;
}
.content .product .product-card .buy-in-one-click button {
  float: left;
  border-radius: 0 4px 4px 0;
  height: 42px;
  line-height: 14px;
  margin: 0;
  padding: 5px 0;
  width: 145px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  border: none;
}
.content .product .product-card .buy-in-one-click button:hover {
  background: #6d9d41;
}
.content .product .information {
  float: left;
  width: 300px;
  margin-left: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #669933;
}
@media all and (max-width: 1240px) {
  .content .product .information {
    display: none;
  }
}
.content .product .information h3 {
  height: 50px;
  padding-left: 70px;
  margin: 0;
  line-height: 50px;
  font-weight: normal;
}
.content .product .information h3.delivery {
  background: url('../img/icon-delivery.png') left center no-repeat;
}
.content .product .information h3.free-delivery {
  background: url('../img/icon-free-delivery.png') left center no-repeat;
}
.content .product .information h3.payment {
  background: url('../img/icon-payment.png') left center no-repeat;
}
.content .product .information ul,
.content .product .information p {
  margin-top: 0;
}
.content .product-details {
  min-width: 300px;
  max-width: 1168px;
}
.content .product-details > input {
  display: none;
}
.content .product-details > input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #009933;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.content .product-details > input#description:checked ~ .description-tab,
.content .product-details > input#reviews:checked ~ .reviews-tab {
  display: block;
}
.content .product-details .description-tab {
  margin-bottom: 10px;
}
.content .product-details > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 400;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}
.content .product-details > label.description:before {
  content: "\f05a";
}
.content .product-details > label.reviews:before {
  content: "\f004";
}
.content .product-details > label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.content .product-details > label:hover {
  color: #888;
  cursor: pointer;
}
.content .product-details > section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}
.content .product-details > section p,
.content .product-details > section ul {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content .product-details > section li {
  padding-left: 5px;
  margin-bottom: 10px;
}
.content .product-details .leave-review {
  float: left;
  width: 50%;
}
@media all and (max-width: 1000px) {
  .content .product-details .leave-review {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
.content .product-details .leave-review h3 {
  font-weight: normal;
}
.content .product-details .leave-review .form-group {
  margin-bottom: 10px;
}
.content .product-details .leave-review .form-group label {
  display: inline-block;
  width: 60px;
}
.content .product-details .leave-review .form-group input {
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 5px;
  width: 70%;
}
.content .product-details .leave-review .form-group.rating-mark img {
  margin-left: 10px;
}
.content .product-details .leave-review .form-group textarea {
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 5px;
  width: 70%;
  height: 100px;
}
.content .product-details .leave-review input[type=submit] {
  margin-left: 64px;
  border-radius: 4px;
  height: 42px;
  line-height: 14px;
  padding: 5px 0;
  width: 72%;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  border: none;
}
.content .product-details .leave-review input[type=submit]:hover {
  background: #6d9d41;
}
.content .product-details .reviews-list {
  float: right;
  width: 50%;
}
@media all and (max-width: 1000px) {
  .content .product-details .reviews-list {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
.content .product-details .reviews-list article {
  position: relative;
  padding: 15px 10px;
  padding-left: 170px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
@media all and (max-width: 460px) {
  .content .product-details .reviews-list article {
    padding-left: 10px;
    border-left: 0;
  }
}
.content .product-details .reviews-list article:last-of-type {
  border-bottom: none;
}
.content .product-details .reviews-list article:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 15px;
  height: 10px;
  background: #fff;
  z-index: 1;
}
.content .product-details .reviews-list article header {
  position: absolute;
  width: 130px;
  height: 80%;
  padding: 10px;
  left: 0;
  top: 0;
  text-align: center;
  border-right: 1px solid #ddd;
}
@media all and (max-width: 460px) {
  .content .product-details .reviews-list article header {
    display: none;
  }
}
.content .product-details .reviews-list article header:before {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 15px;
  background: #fff;
  z-index: 1;
}
.content .product-details .reviews-list article .name {
  display: block;
  margin: 5px 0 10px;
  font-size: 1.1em;
  text-align: center;
}
.content .product-details .reviews-list article .review-date {
  font-size: 1.1em;
}
.content .product-details .reviews-list article .user-ratng-mark {
  font-size: 1.2em;
}
.content .product-details .reviews-list article .user-ratng-mark img {
  margin-left: 10px;
  vertical-align: middle;
}
.content #cart-table {
  width: 95%;
  margin-bottom: 20px;
}
@media all and (max-width: 767px) {
  .content #cart-table {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  .content #cart-table thead {
    display: none;
  }
}
.content #cart-table thead tr {
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  color: #fff;
  font-weight: 300;
}
.content #cart-table thead tr td {
  text-align: center;
  padding: 5px 10px;
  border-right: 1px solid #b7de95;
}
.content #cart-table tr {
  border-bottom: 1px solid #ddd;
}
@media all and (max-width: 767px) {
  .content #cart-table tr {
    position: relative;
    display: block;
    margin-bottom: 10px;
    min-height: 90px;
  }
}
.content #cart-table tr td {
  padding: 10px;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.product-item {
    position: absolute;
    padding: 0;
    font-size: .8em;
  }
}
.content #cart-table tr td.product-item a {
  display: inline-block;
  color: #404040;
  text-decoration: none;
  vertical-align: middle;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.product-item a {
    vertical-align: top;
  }
}
.content #cart-table tr td.product-item a:hover {
  text-decoration: underline;
}
.content #cart-table tr td.product-item a img {
  max-height: 80px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: all 0.1s ease-in-out;
}
.content #cart-table tr td.product-item a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.content #cart-table tr td.product-item a strong {
  font-weight: normal;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.product-item a:first-of-type {
    float: left;
    width: 70px;
  }
}
@media all and (max-width: 800px) {
  .content #cart-table tr td.product-item a:last-of-type {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.product-item a:last-of-type {
    display: block;
  }
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.product-item a:last-of-type {
    float: left;
    width: 230px;
  }
}
.content #cart-table tr td.quantity {
  text-align: center;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.quantity {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -85px;
  }
}
.content #cart-table tr td.quantity .jq-number {
  padding: 0 33px;
}
.content #cart-table tr td.quantity .jq-number__field {
  width: 37px;
  border-radius: 0;
}
.content #cart-table tr td.quantity .jq-number__field input {
  text-align: center;
}
.content #cart-table tr td.quantity .jq-number__spin {
  left: 0;
  border-radius: 0;
  width: 32px;
  height: 32px;
}
.content #cart-table tr td.quantity .jq-number__spin:after {
  left: 5px;
}
.content #cart-table tr td.quantity .jq-number__spin.plus {
  right: 0;
  left: auto;
}
.content #cart-table tr td.quantity .jq-number__spin.plus:after {
  top: 10px;
  left: 15px;
  width: 2px;
  height: 12px;
  border: none;
  background: #666;
}
.content #cart-table tr td.quantity .jq-number__spin.minus:after {
  display: none;
}
.content #cart-table tr td.quantity .jq-number__spin:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 10px;
  width: 12px;
  height: 2px;
  border: none;
  background: #666;
}
.content #cart-table tr td.quantity input[name=update] {
  margin: 0 0 5px 10px;
}
.content #cart-table tr td.price {
  font-size: 1.1em;
  color: #72a65b;
  text-align: center;
  white-space: nowrap;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.price {
    display: none;
  }
}
.content #cart-table tr td.total-price {
  font-size: 1.1em;
  color: #72a65b;
  text-align: center;
  white-space: nowrap;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.total-price {
    position: absolute;
    top: 40px;
    right: 10px;
  }
}
@media all and (max-width: 930px) {
  .content #cart-table tr td:nth-child(3) {
    display: none;
  }
}
.content #cart-table tr td.delete-contol {
  text-align: center;
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.delete-contol {
    position: absolute;
    top: 12px;
    right: 10px;
  }
}
.content #cart-table tr td.delete-contol .delete-button {
  display: inline-block;
  padding: 10px;
  background: #e6e6e6;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
  border: 1px solid #ccc;
}
@media all and (max-width: 800px) {
  .content #cart-table tr td.delete-contol .delete-button {
    width: 10px;
    overflow: hidden;
  }
}
@media all and (max-width: 767px) {
  .content #cart-table tr td.delete-contol .delete-button {
    padding: 4px 6px;
    border-radius: 10px;
  }
}
.content #cart-table tr td.delete-contol .delete-button:before {
  content: "\f00d";
  font-family: fontawesome;
  font-weight: normal;
  font-size: 1.1em;
  margin-right: 10px;
}
.content #cart-table tr td.delete-contol .delete-button:hover {
  background: #6d9d41;
  color: #fff;
}
.content .total-info {
  width: 95%;
  text-align: right;
}
.content .total-info .back-to-shop {
  float: left;
  margin: 10px 0;
  color: #444;
  text-decoration: none;
}
.content .total-info .back-to-shop:before {
  content: "\f060";
  font-family: fontawesome;
  font-weight: normal;
  font-size: 1.1em;
  margin-right: 7px;
}
.content .total-info .back-to-shop:hover {
  color: #336633;
}
.content .total-info span {
  display: inline-block;
  padding: 10px;
  margin: 0 0 10px 10px;
  font-size: 1.1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
@media all and (max-width: 767px) {
  .content .total-info span {
    display: block;
    float: right;
    padding: 5px 10px;
    width: 90%;
    border: 0;
    border-bottom: 1px dotted #ccc;
  }
}
.content .total-info .checkout-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.1em;
  margin-left: 50px;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
}
.content .total-info .checkout-button:hover {
  background: #6d9d41;
}
body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 320px;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  overflow: hidden;
}
@media all and (max-width: 1149px) {
  body > footer {
    position: relative;
    height: auto;
  }
}
body > footer section {
  float: left;
  width: 350px;
  padding-left: 25px;
}
@media all and (max-width: 767px) {
  body > footer section {
    width: 100%;
  }
}
body > footer section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #444;
}
body > footer section nav a {
  color: #336633;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}
body > footer section nav a:hover {
  text-decoration: underline;
}
body > footer section p {
  color: #444;
}
body > footer .copyright {
  clear: both;
  width: auto;
  font-size: 0.9em;
}
/* After all styles applied */
.search {
  transition: all 0.3s ease-in-out;
}
.cabinet-menu {
  float: left;
  width: 200px;
  margin-top: 53px;
}
@media all and (max-width: 1195px) {
  .cabinet-menu {
    float: none;
    width: auto;
    margin-top: 0;
  }
}
.cabinet-menu a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #4d980f;
  border: 1px solid #71a560;
  border-right: none;
}
@media all and (max-width: 1195px) {
  .cabinet-menu a {
    display: inline-block;
    border-right: 1px solid #71a560;
  }
}
@media all and (max-width: 515px) {
  .cabinet-menu a {
    display: block;
  }
}
.cabinet-menu a:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.cabinet-menu a:hover {
  border-color: #444;
}
.cabinet-menu a.active {
  color: #fff;
  position: relative;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
}
.cabinet-menu a.active:after {
  content: '';
  position: absolute;
  top: 10px;
  right: -1px;
  border: 10px solid transparent;
  border-right-color: #fff;
}
@media all and (max-width: 1195px) {
  .cabinet-menu a.active:after {
    content: none;
  }
}
.cabinet-menu a.personal-info-button:before {
  content: "\f007";
}
.cabinet-menu a.orders-history-button:before {
  content: "\f07a";
}
.cabinet-menu a.exit-button:before {
  content: "\f0a9";
}
.cabinet-section {
  float: left;
  width: 650px;
  min-height: 200px;
  border: 1px solid #79b328;
  display: none;
}
@media all and (max-width: 980px) {
  .cabinet-section {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .cabinet-section#orders-history header h2 {
    display: none;
  }
}
.cabinet-section.active {
  display: block;
}
.cabinet-section header {
  min-height: 32px;
  padding: 10px;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  color: #fff;
  overflow: hidden;
}
.cabinet-section header h2 {
  float: left;
  font-size: 1.1em;
  font-weight: normal;
  margin: 7px 0 0 10px;
}
.cabinet-section header p {
  float: right;
  margin: 0 10px 0 0;
}
@media all and (max-width: 420px) {
  .cabinet-section header p {
    float: left;
  }
}
.cabinet-section header p span {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 1.1em;
  background: #79b328;
}
.cabinet-section .personal-info {
  padding: 10px 10px 30px;
}
.cabinet-section .personal-info form {
  margin-bottom: 15px;
}
.cabinet-section .personal-info form .form-group {
  margin-bottom: 10px;
}
.cabinet-section .personal-info form .form-group label {
  display: inline-block;
  margin-bottom: 5px;
  width: 200px;
}
.cabinet-section .personal-info form .form-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  background: #f6f6f6;
  color: #777;
}
@media all and (max-width: 840px) and (min-width: 767px) {
  .cabinet-section .personal-info form .form-group input {
    width: 90%;
  }
}
@media all and (max-width: 515px) {
  .cabinet-section .personal-info form .form-group input {
    width: 90%;
  }
}
.cabinet-section .personal-info form input[type=submit] {
  padding: 10px 5px;
  box-sizing: content-box;
  width: 250px;
  font-size: 1em;
  margin-left: 204px;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border: 1px solid #79b328;
  border-radius: 4px;
  color: #fff;
}
@media all and (max-width: 840px) and (min-width: 767px) {
  .cabinet-section .personal-info form input[type=submit] {
    margin-left: 0;
    width: 90%;
  }
}
@media all and (max-width: 515px) {
  .cabinet-section .personal-info form input[type=submit] {
    margin-left: 0;
    width: 90%;
  }
}
.cabinet-section .personal-info form input[type=submit]:hover {
  background: #6d9d41;
}
.cabinet-section .personal-info p {
  padding: 5px 0;
  margin: 0 0 15px;
  font-size: 1.1em;
  border-bottom: 1px dotted #ddd;
}
.cabinet-section .orders-history {
  width: 100%;
  text-align: center;
}
@media all and (max-width: 460px) {
  .cabinet-section .orders-history {
    font-size: .8em;
  }
}
.cabinet-section .orders-history thead tr {
  border-bottom: 2px solid #ccc;
}
.cabinet-section .orders-history tr {
  border-bottom: 1px solid #ccc;
}
.cabinet-section .orders-history tr:hover {
  background: #ffe;
}
.cabinet-section .orders-history tr td {
  padding: 15px 10px;
  border-right: 1px solid #ccc;
}
#registration-form {
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  border: 1px solid #d2d6de;
  border-top: 3px solid #79b328;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 600px;
  transition: all 0.3s ease-in-out;
}
#registration-form header {
  margin-bottom: 20px;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #d2d6de;
  font-size: 1.2em;
  color: #444;
}
@media all and (max-width: 975px) {
  #registration-form {
    width: 85%;
  }
}
#registration-form label {
  display: inline-block;
  width: 170px;
  margin-bottom: 5px;
}
#registration-form .form-group {
  margin-bottom: 15px;
}
#registration-form .form-group input {
  width: 50%;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: #444;
}
@media all and (max-width: 830px) {
  #registration-form .form-group input {
    width: 95%;
  }
}
#registration-form .form-group.password {
  margin-top: 30px;
}
#registration-form input[type=submit] {
  margin-top: 10px;
  padding: 10px 20px;
  margin-left: 174px;
  background: #6d9d41;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
}
@media all and (max-width: 830px) {
  #registration-form input[type=submit] {
    margin-left: 0;
  }
}
#registration-form input[type=submit]:hover {
  background: #79b328;
  color: #fff;
}
#login-form {
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  border: 1px solid #d2d6de;
  border-top: 3px solid #79b328;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 500px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#login-form header {
  margin-bottom: 20px;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #d2d6de;
  font-size: 1.2em;
  color: #444;
}
@media all and (max-width: 880px) {
  #login-form {
    width: 85%;
  }
}
#login-form .form-group {
  margin-bottom: 15px;
}
#login-form .form-group label {
  display: inline-block;
  width: 170px;
  margin-bottom: 5px;
}
#login-form .form-group input {
  width: 50%;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #444;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 790px) {
  #login-form .form-group input {
    width: 90%;
  }
}
#login-form .form-group.password {
  margin-top: 30px;
}
#login-form input[type=submit] {
  padding: 10px 20px;
  font-size: 1em;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border: 1px solid #79b328;
  border-radius: 4px;
  color: #fff;
  padding: 10px 5px;
  box-sizing: content-box;
  margin-left: 174px;
  width: 50%;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}
#login-form input[type=submit]:hover {
  background: #6d9d41;
}
@media all and (max-width: 790px) {
  #login-form input[type=submit] {
    margin-left: 0;
    width: 90%;
  }
}
.new-client {
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  border: 1px solid #d2d6de;
  border-top: 3px solid #79b328;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 500px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.new-client header {
  margin-bottom: 20px;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #d2d6de;
  font-size: 1.2em;
  color: #444;
}
@media all and (max-width: 880px) {
  .new-client {
    width: 85%;
  }
}
.new-client button {
  padding: 10px 20px;
  box-sizing: content-box;
  font-size: 1em;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border: 1px solid #79b328;
  border-radius: 4px;
  color: #fff;
}
.new-client button:hover {
  background: #6d9d41;
}
.modal-login {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -200px;
  width: 290px;
  padding: 30px;
  border: 1px solid #669933;
  border-radius: 7px;
  color: #333;
  font-weight: lighter;
  background: #fff;
  box-shadow: 0 3px 5px rgba(50, 50, 50, 0.3);
  z-index: 110;
}
.modal-login:before {
  content: '';
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.modal-login header {
  font-size: 1.6em;
  margin-bottom: 25px;
}
.modal-login header .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #333;
}
.modal-login header .close:before {
  content: "\f00d";
  font-family: fontawesome;
  font-weight: normal;
  font-size: 25px;
}
.modal-login header .close:hover {
  color: #4d980f;
}
.modal-login .form-group {
  margin-bottom: 25px;
}
.modal-login .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.modal-login .form-group input:not([type=submit]) {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: inset 1px 0 0 #e4e4e4;
  border: 1px solid #d9d9d9;
  color: #555;
}
.modal-login .form-group input[type=submit] {
  float: left;
  padding: 10px 20px;
  box-sizing: content-box;
  font-size: 1em;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border: 1px solid #79b328;
  border-radius: 4px;
  color: #fff;
}
.modal-login .form-group input[type=submit]:hover {
  background: #6d9d41;
}
.modal-login .links {
  float: left;
  width: 180px;
  margin-left: 10px;
}
.modal-login .links a {
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  color: #444;
  border-bottom: 1px dashed #0c559d;
}
.modal-login .links a:hover {
  border-bottom: none;
}
.modal-registration {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -200px;
  width: 290px;
  padding: 30px;
  border: 1px solid #669933;
  border-radius: 7px;
  color: #333;
  font-weight: lighter;
  background: #fff;
  box-shadow: 0 3px 5px rgba(50, 50, 50, 0.3);
  z-index: 110;
}
.modal-registration:before {
  content: '';
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.modal-registration header {
  font-size: 1.6em;
  margin-bottom: 25px;
}
.modal-registration header .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #333;
}
.modal-registration header .close:before {
  content: "\f00d";
  font-family: fontawesome;
  font-weight: normal;
  font-size: 25px;
}
.modal-registration header .close:hover {
  color: #4d980f;
}
.modal-registration .form-group {
  margin-bottom: 25px;
}
.modal-registration .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.modal-registration .form-group input:not([type=submit]) {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: inset 1px 0 0 #e4e4e4;
  border: 1px solid #d9d9d9;
  color: #555;
}
.modal-registration .form-group input[type=submit] {
  float: left;
  padding: 10px 20px;
  box-sizing: content-box;
  font-size: 1em;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border: 1px solid #79b328;
  border-radius: 4px;
  color: #fff;
}
.modal-registration .form-group input[type=submit]:hover {
  background: #6d9d41;
}
.modal-registration .form-group-container .form-group {
  width: 48%;
}
.modal-registration .form-group-container .form-group:first-of-type {
  float: left;
}
.modal-registration .form-group-container .form-group:last-of-type {
  float: right;
}
.modal-remember {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -200px;
  width: 290px;
  padding: 30px;
  border: 1px solid #669933;
  border-radius: 7px;
  color: #333;
  font-weight: lighter;
  background: #fff;
  box-shadow: 0 3px 5px rgba(50, 50, 50, 0.3);
  z-index: 110;
}
.modal-remember:before {
  content: '';
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.modal-remember header {
  font-size: 1.6em;
  margin-bottom: 25px;
}
.modal-remember header .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #333;
}
.modal-remember header .close:before {
  content: "\f00d";
  font-family: fontawesome;
  font-weight: normal;
  font-size: 25px;
}
.modal-remember header .close:hover {
  color: #4d980f;
}
.modal-remember .form-group {
  margin-bottom: 25px;
}
.modal-remember .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.modal-remember .form-group input:not([type=submit]) {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: inset 1px 0 0 #e4e4e4;
  border: 1px solid #d9d9d9;
  color: #555;
}
.modal-remember .form-group input[type=submit] {
  float: left;
  padding: 10px 20px;
  box-sizing: content-box;
  font-size: 1em;
  background: #71a560;
  background: linear-gradient(to bottom, #71a560 0%, #79b328 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a560', endColorstr='#79b328', GradientType=0);
  text-decoration: none;
  border: 1px solid #79b328;
  border-radius: 4px;
  color: #fff;
}
.modal-remember .form-group input[type=submit]:hover {
  background: #6d9d41;
}
